<div class="container-fluid">
	<div class="row col-md-10 col-md-offset-1"  ng-repeat="post in posts | filter: post.query | orderBy: predicate : reverse">
		<div class="col-md-10 postit">
			<div class="col-md-3">
				<img id="postImg" src="{{post.imageUrl}}">
			</div>
			<div class="col-md-9">
				<h2>{{post.title}}</h2> |<span class="glyphicon glyphicon-arrow-up" ng-click="voteUp(post)"></span><span class="glyphicon glyphicon-arrow-down" ng-click="voteDown(post)"></span>

				<span ng-class="post.voteCount > 0 ? 'pos' :(post.voteCount < 0 ?'neg' : 'neu' )">{{post.voteCount}}</span>

				<span><h5> Written by {{post.author}}</h5></span>
				<p>{{post.description}}</p>
				<span>{{post.display}}</span> |
				<span class="glyphicon glyphicon-comment" ng-click="toggle3()">{{comments.length}}Comments</span> | 
				<span class="glyphicon glyphicon-pencil" ng-click="toggle2()">Add Comment</span>
				<br><br>

				<form for="form" ng-show="postComment" ng-submit="addComment(post, comment)">

					<div class="form-group">
						<label for="author">Author</label>
						<input type="text" ng-model="comment.author" id="author" name="author">


						<label for="text">Text</label>
						<input type="text" ng-model="comment.text" id="text" name="text">
						<input type="submit" value="Add Comment">
					</div>
				</form>

				<span ng-show="showComment" ng-repeat="comment in post.comments">
					<p>{{comment.text}} -{{comment.author}}</p>
					
				</span>

			</div>
		</div>
	</div>
</div>









